<% layout('/layout/boilerplate') %>
    <!-- yahan pe abhi kam karna h.need to learn multer. -->
    <!-- <div class="mx-5 mb-5 mt-3">
        <h1>Attachments</h1>
        <hr>
         <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <label for="photograph" class="Form-label">Candidate Photograph</label>
                <input type="file" id="photograph" class="form-control" name="attachments[photograph]">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6  mb-3">
                <label for="signature" class="Form-label">Candidate Signature</label>
                <input type="file" for="signature" class="form-control" name="attachments[signature]">
            </div>
        </div> 
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <label for="highSchoolMarksheet" class="Form-label">High School Marksheet</label>
                <input type="file" class="form-control" id="highSchoolMarksheet" name="attachments[highSchool]"
                    accept=".doc, .docx, .pdf">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <label for="seniorSecondaryMarksheet" class="Form-label">Senior Secondary Marksheet</label>
                <input type="file" class="form-control" id="seniorSecondaryMarksheet"
                    name="attachments[seniorSecondary]" accept=".doc, .docx, .pdf">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <label for="graduationMarksheet" class="Form-label">Graduation Marksheet</label>
                <input type="file" class="form-control" id="graduationMarksheet" name="attachments[graduation]"
                    accept=".doc, .docx, .pdf">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <label for="postGraduationMarksheet" class="Form-label">Post Graduation Marksheet</label>
                <input type="file" class="form-control" id="postGraduationMarksheet" name="attachments[postGraduation]"
                    accept=".doc, .docx, .pdf">
            </div>
        </div>
         marksheet of additional exams
          
    </div>
    -->
    <!-- <div id="application-form-error" class="hide text-center mb-2">
        <span class="required-field">Please ensure that you filled all the fields correctly.</span>
    </div>

    <div class="mb-3 d-flex justify-content-center">
        <a class="btn btn-primary mx-1" onclick="showBlock('tab4Block')">Previous</a>
        <button class="btn btn-success mx-1" id="submit-application-btn">Submit</button>
    </div> -->