<% layout('/layout/boilerplate') %>
    <div class="mb-5 mx-5 mt-3">
        <h2 class="mb-3">Course Details</h2>
        <hr>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="department" class="form-label">Department under which intends Ph.d Registration <span
                        class="required-field">*</span></label>
                <select name="scholar[department]" id="department" class="form-select">
                    <option value="Computer Science">Computer Science</option>
                    <option value="Pharmacy">Pharmacy</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Chemical Engineering">Computer Science</option>
                    <option value="Bio-science and  Biotechnology">Bio-science and Biotechnology</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Mathematical Science">Mathematical Science</option>
                    <option value="Physics">Physics</option>
                    <option value="Sanskrit, Philosophy and Vedic Studies">Sanskrit, Philosophy and Vedic Studies
                    </option>
                    <option value="Hindi and Modern Indian Languages">Hindi and Modern Indian Languages</option>
                    <option value="English and Modern European Languages">English and Modern European Languages
                    </option>
                    <option value="Economics">Economics</option>
                    <option value="History and Indian Culture">History and Indian Culture</option>
                    <option value="Political Science and Public Administration">Political Science and Public
                        Administration</option>
                    <option value="Sociology">Sociology</option>
                    <option value="Physical Education">Physical Education</option>
                    <option value="Performing Arts">Performing Arts</option>
                    <option value="Visual Art">Visual Art</option>
                    <option value="Home-science">Home-science</option>
                    <option value="Education">Education</option>
                    <option value="Commerce and Banking">Commerce and Banking</option>
                    <option value="Management">Management</option>
                    <option value="Design">Design</option>
                    <option value="Legal Studies">Legal Studies</option>
                    <option value="Psychology">Psychology</option>
                    <option value="Journalism and Mass Communication">Journalism and Mass Communication</option>
                    <option value="Earth Sciences">Earth Sciences</option>
                    <option value="Aviation">Aviation</option>
                    <option value="Automation">Automation</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="researchSupervisor1" class="form-label">Name of the Research Supervisor under whom the
                    applicant proposes to work <span class="required-field">*</span></label>
                <input type="text" name="scholar[researchSupervisor]" id="researchSupervisor1" class="form-control"
                    required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="researchSupervisor2" class="form-label">Name of the Second Research Supervisor if applicant
                    wants to work under joint supervision of two supervisors</label>
                <input type="text" name="scholar[researchSupervisor]" id="researchSupervisor2" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="researchTopic" class="form-label">Research Topic</label>
                <input type="text" class="form-control" id="researchTopic" name="scholar[topic]">
            </div>
        </div>
        <div id="application-form-error" class="hide text-center mb-2">
            <span class="required-field">Please ensure that you filled all the fields correctly.</span>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <a class="btn btn-primary mx-1" onclick="showBlock('tab3Block')">Previous</a>
            <button class="btn btn-success mx-1" id="submit-application-btn">Submit</button>
        </div>
    </div>