<% layout('/layout/boilerplate') %>
    <div class="mb-5 mx-5 mt-3">
        <h2 class="mb-3">Course Details</h2>
        <hr>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="department" class="form-label">Department under which intends Ph.d Registration <span
                        class="required-field">*</span></label>
                <select name="scholar[department]" id="department" class="form-select">
                    <% for (let dept of departments) { %>
                        <option value="<%= dept.name%>">
                            <%= dept.name %>
                        </option>
                        <% } %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="researchSupervisor1" class="form-label">Name of the Research Supervisor under whom the
                    applicant proposes to work <span class="required-field">*</span></label>
                <input type="text" name="scholar[researchSupervisor]" id="researchSupervisor1" class="form-control"
                    required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="researchSupervisor2" class="form-label">Name of the Second Research Supervisor if applicant
                    wants to work under joint supervision of two supervisors</label>
                <input type="text" name="scholar[researchSupervisor]" id="researchSupervisor2" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="researchTopic" class="form-label">Research Topic</label>
                <input type="text" class="form-control" id="researchTopic" name="scholar[topic]">
            </div>
        </div>
        <div id="application-form-error" class="hide text-center mb-2">
            <span class="required-field">Please ensure that you filled all the fields correctly.</span>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <a class="btn btn-primary mx-1" onclick="showBlock('tab3Block')">Previous</a>
            <button class="btn btn-success mx-1" id="submit-application-btn">Submit</button>
        </div>
    </div>