<% layout('/layout/boilerplate') %>
    <div class="card text-center">
        <div class="card-header">
            You have not filled the application form yet
        </div>
        <div class="card-body">
            <p class="card-text">Please Apply first</p>
            <a href="/phd/apply" class="btn btn-primary">Apply</a>
        </div>
    </div>