<% layout('/layout/boilerplate') %>
    <div class="card text-center mt-5">
        <div class="card-header">
            We are Processing your application
        </div>
        <div class="card-body">
            <p class="card-text">In case you have any doubt,please contact any staff member</p>
            <a href="/contactUs" class="btn btn-primary">Contact Us</a>
        </div>
    </div>