<% layout('/layout/boilerplate') %>
    <div class="card text-center">
        <div class="card-header bg-danger">
            Application Rejected.
        </div>
        <div class="card-body">
            <p class="card-text">Unfortunately,we will not be moving forward with your application this time.Thank you
                for your interests.In case you have any doubt please contact our academic office</p>
            <a href="/contactUs" class="btn btn-primary">contact Us</a>
        </div>
    </div>