<% layout('/layout/boilerplate') %>
    <div class="card text-center">
        <div class="card-header">
            You have already submitted the application
        </div>
        <div class="card-body">
            <p class="card-text">Please go to home Page to check your application status</p>
            <a href="/home" class="btn btn-primary">Home Page</a>
        </div>
    </div>