<% layout('/layout/boilerplate') %>
    <div>
        <Form>
            <a class="btn btn-info">Edit</a>
        </Form>
        <button class="btn btn-success">Accept</button>
        <button class="btn btn-danger">Reject</button>
    </div>