<% layout('/layout/boilerplate') %>
    <div class="row mb-3">
        <div class="col-md-3 bg-dark text-white">
            <a class="listOption" href="/admin/applicants">Manage Applications</a>
            <hr>
            <a class="listOption" href="/admin/scholars">Manage Scholars</a>
            <a class="listOption" href="/admin/supervisors">Manage Supervisor</a>
            <a class="listOption" href="/admin/evaluators">Manage Evaluators</a>
            <a class="listOption" href="/admin/departments">Manage Departments</a>
            <a class="listOption" href="/admin/details">University Details</a>
        </div>
        <div class="col-md-9">
            <div class="bg-Light">
                <div class="card mb-2">
                    <p class="card-title">XYZ</p>
                    <p class="card-body">lLL</p>
                </div>
                <div class="card mb-2">
                    <p class="card-title">XYZ</p>
                    <p class="card-body">lLL</p>
                </div>
                <div class="card mb-2">
                    <p class="card-title">XYZ</p>
                    <p class="card-body">lLL</p>
                </div>
                <div class="card mb-2">
                    <p class="card-title">XYZ</p>
                    <p class="card-body">lLL</p>
                </div>
            </div>
        </div>
    </div>